{% extends "base.html" %}

{% block title %}AppointmentView{% endblock %}
{% block content %}
<html>

<head>
    <!-- Metadata and scripts go here -->
    
</head>

<body>
    <h1>General Appointment Info</h1>
    {% if appointments %}
    <table border="1">
        <tr>
            <th>Apt_No</th>
            <th>AptTime</th>
            <th>AptDate</th>
            <th>D_UserID</th>
            <th>Patient_No</th>
            <!-- Add more columns as needed based on your data structure -->
        </tr>

        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment['Apt_No'] }}</td>
            <td>{{ appointment['AptTime']|format_seconds_as_time }}</td>
            <td>{{ appointment['AptDate'] }}</td>
            <td>{{ appointment['D_UserID'] }}</td>
            <td>{{ appointment['Patient_No'] }}</td>
            <!-- Add more columns as needed based on your data structure -->
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No appointment information available.</p>
    {% endif %}

    
</body>

</html>
{% endblock %}