{% extends "base.html" %}

{% block title %}Doctor{% endblock %}

{% block content %}

<form method="POST" onsubmit="return validatePatientInfoForm()" style="display: inline-block;">
    <h3>View Patient Info</h3>
    <!-- 1st Input -->
    <div class="form-group" style="display: inline-block; margin-right: 10px;">
      <label for="Patient_Name">Patient Name:</label>
      <input
        type="text"
        class="form-control"
        id="Patient_Name"
        name="Patient_Name"
        placeholder="Enter Patient Name"
        style="width: 200px;"
      />
    </div>
    <!-- 2nd Input -->
    <div class="form-group" style="display: inline-block; margin-right: 10px;">
      <label for="DateOfBirth">Date of Birth:</label>
      <input
        type="text"
        class="form-control"
        id="DateOfBirth"
        name="DateOfBirth"
        placeholder="Enter Date of Birth"
        style="width: 200px;"
      />
    </div>
    <br />
    <input type="hidden" name="action" value="search_view_patient_general_info">
    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 10px;">Search</button>
</form>

<form method="POST" style="display: inline-block; margin-right: 40%;">
    <br />
    <input type="hidden" name="action" value="view-appointment">
    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 0.001%;">View Appointments</button>
</form>

<!-- AddPatientHistory : Takes 5 Arguments -->
<form method="POST" style="margin-top: 5%">
    <h3>Add Patient History</h3>
    <!-- 1st Input -->
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
      <label for="Patient_Name">Patient Number:</label>
      <input
        type="text"
        class="form-control"
        id="Patient_Number"
        name="Patient_Number"
        placeholder="Enter Patient Number"
        style="width: 200px;"
      />
    </div>
    <!-- 2nd Input -->
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
      <label for="DateOfBirth">File Number:</label>
      <input
        type="text"
        class="form-control"
        id="File_Number"
        name="File_Number"
        placeholder="Enter File Number"
        style="width: 200px;"
      />
    </div>
    <!-- 3rd Input -->
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="Allergy">Allergy:</label>
        <input
          type="text"
          class="form-control"
          id="Allergy"
          name="Allergy"
          placeholder="Enter Allergy"
          style="width: 200px;"
        />
      </div>
    <!-- 4th Input -->
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="Surgery">Surgery:</label>
        <input
          type="text"
          class="form-control"
          id="Surgery"
          name="Surgery"
          placeholder="Enter Surgery"
          style="width: 200px;"
        />
    </div>
    <!-- 5th Input -->
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="Medication">Medication:</label>
        <input
          type="text"
          class="form-control"
          id="Medication"
          name="Medication"
          placeholder="Enter Medication"
          style="width: 200px;"
        />
    </div>
    <br />
    <input type="hidden" name="action" value="add-patient-history">
    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 2%;">Submit</button>
</form>
<!-- Request Tests : Takes 3 Arguments -->
<form method="POST" style="margin-top: 5%">
    <h3>Request Tests</h3>
    <!-- 1st Input -->
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
      <label for="DoctorID">DoctorID:</label>
      <input
        type="text"
        class="form-control"
        id="DoctorID"
        name="DoctorID"
        placeholder="Enter DoctorID"
        style="width: 200px;"
      />
    </div>
    <!-- 2nd Input -->
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
      <label for="Patient_Number">Patient Number:</label>
      <input
        type="text"
        class="form-control"
        id="Patient_Number"
        name="Patient_Number"
        placeholder="Enter Patient Number"
        style="width: 200px;"
      />
    </div>
    <!-- 3rd Input -->
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="Test_Name">Test Name:</label>
        <input
          type="text"
          class="form-control"
          id="Test_Name"
          name="Test_Name"
          placeholder="Enter Test Name"
          style="width: 200px;"
        />
    </div>

    <br />
    <input type="hidden" name="action" value="requests-test">
    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 2%;">Submit</button>
</form>
<!-- GetsTests : Takes 6 Arguments -->
<form method="POST" style="margin-top: 5%">
    <h3>Gets Tests</h3>
    <!-- 1st Input -->
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
      <label for="DoctorID">DoctorID:</label>
      <input
        type="password"
        class="form-control"
        id="DoctorID"
        name="DoctorID"
        placeholder="Enter DoctorID"
        style="width: 200px;"
      />
    </div>
    <!-- 2nd Input -->
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
      <label for="Patient_Number">Patient Number:</label>
      <input
        type="text"
        class="form-control"
        id="Patient_Number"
        name="Patient_Number"
        placeholder="Enter Patient Number"
        style="width: 200px;"
      />
    </div>
    <!-- 3rd Input -->
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
        <label for="Test_Name">Test Name:</label>
        <input
          type="text"
          class="form-control"
          id="Test_Name"
          name="Test_Name"
          placeholder="Enter Test Name"
          style="width: 200px;"
        />
    </div>
    <!-- 4th Input -->
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
        <label for="Tester">Tester:</label>
        <input
          type="text"
          class="form-control"
          id="Tester"
          name="Tester"
          placeholder="Enter Tester"
          style="width: 200px;"
        />
    </div>
    <!-- 5th Input -->
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
        <label for="Test_Date">Test Date:</label>
        <input
          type="text"
          class="form-control"
          id="Test_Date"
          name="Test_Date"
          placeholder="Enter Test Date"
          style="width: 200px;"
        />
    </div>
    <!-- 6th Input -->
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
        <label for="Results">Results:</label>
        <input
          type="text"
          class="form-control"
          id="Results"
          name="Results"
          placeholder="Enter Results"
          style="width: 200px;"
        />
    </div>
    
    <br />
    <input type="hidden" name="action" value="gets-test">
    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 2%;">Submit</button>
</form>

<!-- Prescribe Medicine : Takes 3 Arguments -->
<form method="POST" style="margin-top: 5%">
    <h3>Prescribe Medicine</h3>
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
      <label for="DoctorID">DoctorID:</label>
      <input
        type="password"
        class="form-control"
        id="DoctorID"
        name="DoctorID"
        placeholder="Enter DoctorID"
        style="width: 200px;"
      />
    </div>

    <div class="form-group" style="display: inline-block;margin-right: 2%;">
      <label for="Patient_Number">Patient Number:</label>
      <input
        type="text"
        class="form-control"
        id="Patient_Number"
        name="Patient_Number"
        placeholder="Enter Patient Number"
        style="width: 200px;"
      />
    </div>

    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="Drug_Number">Drug Number:</label>
        <input
          type="text"
          class="form-control"
          id="Drug_Number"
          name="Drug_Number"
          placeholder="Enter Drug Number"
          style="width: 200px;"
        />
      </div>
    
    <br />
    <input type="hidden" name="action" value="prescribe-medicine">
    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 2%;">Submit</button>
</form>

<!-- Delete Patient History : Takes 7 Arguments -->
<form method="POST" style="margin-top: 5%">
    <h3>Delete Patient History</h3>
    <div class="form-group" style="display: inline-block;margin-right: 2%;">
      <label for="DoctorID">DoctorID:</label>
      <input
        type="password"
        class="form-control"
        id="DoctorID"
        name="DoctorID"
        placeholder="Enter DoctorID"
        style="width: 200px;"
      />
    </div>
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
      <label for="Doctor_Password">Doctor Password:</label>
      <input
        type="password"
        class="form-control"
        id="Doctor_Password"
        name="Doctor_Password"
        placeholder="Enter Doctor Password"
        style="width: 200px;"
      />
    </div>
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="Patient_Number">Patient Number:</label>
        <input
          type="text"
          class="form-control"
          id="Patient_Number"
          name="Patient_Number"
          placeholder="Enter Patient Number"
          style="width: 200px;"
        />
    </div>
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="File_Number">File Number:</label>
        <input
          type="text"
          class="form-control"
          id="File_Number"
          name="File_Number"
          placeholder="Enter File Number"
          style="width: 200px;"
        />
    </div>
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="File_Number">Allergy:</label>
        <input
          type="text"
          class="form-control"
          id="Allergy"
          name="Allergy"
          placeholder="Enter Allergy"
          style="width: 200px;"
        />
    </div>
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="File_Number">Surgery:</label>
        <input
          type="text"
          class="form-control"
          id="Surgery"
          name="Surgery"
          placeholder="Enter Surgery"
          style="width: 200px;"
        />
    </div>
    <div class="form-group" style="display: inline-block; margin-right: 2%;">
        <label for="File_Number">Medication:</label>
        <input
          type="text"
          class="form-control"
          id="Medication"
          name="Medication"
          placeholder="Enter Medication"
          style="width: 200px;"
        />
    </div>

    
    <br />
    <input type="hidden" name="action" value="delete-patient-history">
    <button type="submit" class="btn btn-primary" style="display: inline-block; margin-right: 2%;">Submit</button>
</form>

<!-- Exemplar script for checking inputs -->
<script>
    
    function validatePatientInfoForm() {
        var patientName = document.getElementById("Patient_Name").value;
        var dateOfBirth = document.getElementById("DateOfBirth").value;

        // Validate Patient Name format (name lastname)
        var nameRegex = /^[a-zA-Z]+\s[a-zA-Z]+$/;
        if (!nameRegex.test(patientName)) {
            alert("Please enter a valid Patient Name in the format 'Name Lastname'");
            return false;
        }

        // Validate Date of Birth format (yyyy-mm-dd)
        var dateRegex = /^\d{4}-\d{2}-\d{2}$/;
        if (!dateRegex.test(dateOfBirth)) {
            alert("Please enter a valid Date of Birth in the format 'yyyy-mm-dd'");
            return false;
        }

        // Form is valid, allow submission
        return true;
    }
</script>

{% endblock %}
