{% extends "base.html" %}

{% block title %}GeneralView{% endblock %}
{% block content %}

<body>
    <h1>General Patient Info</h1>

    {% if patient_info %}
    <table border="1">
        <tr>
            <th>Patient No</th>
            <th>PName</th>
            <th>Email</th>
            <th>Emergency Contact</th>
            <th>Date of Birth</th>
            <!-- Add more columns as needed based on your data structure -->
        </tr>

        {% for patient in patient_info %}
        <tr>
            <td>{{ patient[0] }}</td>
            <td>{{ patient[1] }}</td>
            <td>{{ patient[2] }}</td>
            <td>{{ patient[3] }}</td>
            <td>{{ patient[4] }}</td>
            <!-- Add more columns as needed based on your data structure -->
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No patient information available.</p>
    {% endif %}

{% endblock %}